.App {
	text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.box0 {
	float: right;
}

.infoZone {
	text-align:center;
}

input[id="square"] {
    width: 30px;
}

.square{
 /* Float both forms to the left */
 float: left; 
 /* borders added for visibility. Just remove them */
}
.square#updateForm {
 clear: right;
 /* with some space to the left of the second form */
 margin-right: 20px; 
}

.board-row {
	position: absolute;
}

