.App {
	text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.infoZone {
	text-align:center;
}

input[id="square"] {
    width: 38px;
}

.matrix {
	position: relative;
	float: left;
	text-align: left;
	margin-right: 17px;
	margin-left: 17px;
}

.matrix.image {
	position: relative;
	float: left;
	text-align: left;
	margin-right: 17px;
	margin-left: 17px;
	margin-top: 15px;
}

.matrices {
	margin: 100 100; 
	 overflow: visible;
	 display: inline-block;
}

.square{
 /* Float both forms to the left */
 float: left; 
 /* borders added for visibility. Just remove them */
}
.square#updateForm {
 clear: right;
 /* with some space to the left of the second form */
 margin-right: 20px; 
}

.board-row {
	position: absolute;
}

.image {
	position: absolute;
	display: inline;
}

